$screen-size--medium: 550px;

.article-section {
  display: grid;
  gap: 1rem;
  grid-template: repeat(4, auto) / 1fr;
  padding: 5% 3% 5% 3%;

  @media (min-width: $screen-size--medium) {
    padding: 2.5%;
    gap: 20px;
  }

  @media (min-width: 990px) {
    grid-template: auto repeat(2, minmax(340px, auto)) / 2fr 1fr;
  }

  @media (min-width: 1200px) {
    grid-template: auto repeat(2, minmax(340px, auto)) / 2fr 0.82fr;

    padding: 6.5%;
    gap: 35px;
  }
  &__title {
    @include text-properties(27px, 800, $color--main-2, 1.3px);
    width: 100%;
    text-align: center;
    grid-area: 1/1/2/-1;
    @media (min-width: 910px) {
      font-size: 36px;
      margin-top: 20px;
      margin-bottom: 50px;
    }

    article:nth-of-type(odd) {
      @media (min-width: $screen-size--medium) {
        grid-template: auto/ 2fr 3fr;
      }
    }
  }

  &__article {
    @extend %card-style;

    display: grid;
    grid-template: repeat(2, auto) / 1fr;
    gap: 1rem;

    &--wide {
      @media (min-width: $screen-size--medium) {
        grid-template: auto/ 2fr 3fr;
      }
    }
    &--tall {
      @media (min-width: $screen-size--medium) {
        grid-template: auto/ 2fr 3fr;
        .article-section__article__text-wrapper {
          grid-column-start: 1;
          grid-row-start: 1;
        }
      }
      @media (min-width: $screen-size--medium) {
        grid-template: auto/ 3fr 2fr;
      }
      @media (min-width: 990px) {
        grid-row: span 2;
        grid-template: auto auto/ 1fr;
        .article-section__article__text-wrapper {
          grid-column-start: 1;
          grid-row-start: 2;
          padding: 0 10% 48px 13%;
        }
      }
    }

    &__text-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5% 3% 5% 3%;

      @media (min-width: $screen-size--medium) {
        order: 1;
        padding: 4% 10% 5% 7%;
      }
      &__title {
        @include text-properties(1.7rem, 500, $color--complementary-1, 0.9px);
        margin-top: 15px;
        margin-bottom: 5px;
      }

      &__paragraph {
        line-height: 1.4;
        font-weight: 500;
        letter-spacing: 0.6px;
        @media (min-width: 910px) {
          font-size: 16px;
        }
      }

      &__btn {
        padding: 10px 20px 10px 20px;
        background: transparent;
        border-radius: 10px;
        border: solid 1px $color--main-2;
        margin-top: 15px;
        width: 130px;
      }
    }

    &__img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__img {
      @extend %img-settings;

      &--small {
        object-fit: unset;
        max-width: 250px;
        max-height: 250px;
        align-self: center;
        justify-self: center;
        margin: 10%;

        @media (min-width: $screen-size--medium) {
          max-width: 158px;
          max-height: 158px;
        }

        &.sun {
          max-width: unset;
          max-height: unset;
          margin: unset;
          padding: 10%;
          @media (min-width: 990) {
            padding: 15% 10% 4%;
          }
        }
      }
    }
  }
}
