.faq-section {
  display: grid;
  grid-template: repeat(5, auto) / 1fr;
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template: repeat(4, auto) / repeat(5, 1fr);
    gap: 40px;
  }
  &__title {
    grid-column: 1 /-1;
    text-align: center;

    @media (min-width: 768px) {
    }
  }

  article:last-of-type {
    box-shadow: none;
  }

  &__article {
    @extend %card-style;
    display: grid;

    @media (min-width: 768px) {
      grid-column: span 3;
    }
    &--tall {
      @media (min-width: 768px) {
        grid-area: span 2 / span 2;
      }
    }
    &--wide {
      @media (min-width: 768px) {
        grid-column: 1/-1;
      }
    }

    &.multiple-children {
      display: grid;
      grid-template: repeat(2, auto) / 1fr;
      gap: 1rem;

      @media (min-width: 768px) {
        grid-template: auto / repeat(2, 1fr);
      }
      &--wide {
        @media (min-width: 768px) {
          grid-template: auto / 1fr 2fr;
        }
      }
    }

    &__text-wrapper {
      padding: 8%;

      &__title {
        @include text-properties(1.7rem, 500, $color--complementary-1, 0.9px);
      }
      &__list {
        &__item {
          &::marker {
            color: $color--complementary-1;
          }
        }
      }
    }
    &__img-wrapper {
      max-width: 460px;
      &__img {
        @extend %img-settings;
      }
    }
    &__solar-system {
      max-width: 460px;
      display: grid;
      grid: 1fr / 1fr;
      place-items: center;

      background-image: radial-gradient(
        circle at 50% 39%,
        #072142,
        #00132c 101%
      );

      // Variabler
      $sun-size: 48px;
      $orb-earth-size: 150px;
      $orb-mars-size: 300px;
      $planet-earth-size: 30px;
      $planet-mars-size: $planet-earth-size;

      // mixin
      @mixin square-size($size) {
        height: $size;
        width: $size;
      }

      %center {
        grid-column: 1;
        grid-row: 1;
      }

      img {
        object-fit: cover;
      }

      .orb {
        @extend %center;
        border: 1px dashed grey;
        border-radius: 100%;
        animation: move-planet linear infinite;

        &.earth {
          @include square-size($orb-earth-size);
          animation-duration: 7s;
        }
        &.mars {
          @include square-size($orb-mars-size);
          animation-duration: 10s;
        }
      }

      &__sun {
        @include square-size($sun-size);
        @extend %center;
      }

      &__earth,
      &__mars {
        position: absolute;
        left: 50%;
        top: -15px;
      }
      &__earth {
        @include square-size($planet-earth-size);
        animation-duration: 7s;
      }
      &__mars {
        @include square-size($planet-mars-size);

        animation-duration: 7s;
      }

      // Animation
      @keyframes move-planet {
        100% {
          transform: rotate(360deg);
        }
      }

      @media (min-width: 768px) {
        order: -1;
      }
    }
  }
}
