$screen-size--1: 650px;
$screen-size--2: 950px;
$screen-size--3: 1350px;

.faq-section {
  display: grid;
  grid-template: repeat(5, auto) / 1fr;
  gap: 1rem;
  padding-top: 6%;

  @media (min-width: $screen-size--1) {
    grid-template: repeat(5, auto) / 1fr;
  }
  @media (min-width: $screen-size--2) {
    grid-template: repeat(4, auto) / 1fr 1.55fr;

    gap: 20px;
    padding-top: 6%;
  }
  @media (min-width: $screen-size--3) {
    gap: 40px;
  }
  &__title {
    @include text-properties(27px, 800, $color--main-2, 1.3px);

    grid-column: 1 /-1;
    text-align: center;
    @media (min-width: 910px) {
      font-size: 36px;
      margin-top: 0px;
      margin-bottom: 25px;
    }
  }

  article:last-of-type {
    box-shadow: none;
  }

  &__article {
    @extend %card-style;
    display: grid;

    @media (min-width: $screen-size--2) {
    }
    &--tall {
      @media (min-width: $screen-size--2) {
        grid-row: span 2;
      }
    }
    &--wide {
      @media (min-width: $screen-size--2) {
        grid-column: span 2;
      }
    }

    &.multiple-children {
      display: grid;
      grid-template: repeat(2, auto) / 1fr;

      @media (min-width: $screen-size--1) {
        grid-template: auto / 1fr 1.2fr;
      }
      &--wide {
        @media (min-width: $screen-size--1) {
          grid-template: auto / 1fr 2fr;
        }
      }
    }

    &__text-wrapper {
      padding: 20px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (min-width: $screen-size--2) {
      }
      @media (min-width: $screen-size--3) {
        padding: 40px 60px;
      }

      &--tall {
        display: block;
      }
      &__title {
        @include text-properties(1.7rem, 500, $color--complementary-1, 0.9px);
        margin-bottom: 30px;
      }
      &__list {
        padding-left: 13px;
        &__item {
          font-weight: 700;
          line-height: 1.75;
          padding-left: 20px;
          @media (min-width: 910px) {
            font-size: 16px;
          }
          &::marker {
            color: $color--complementary-1;
            font-size: 10px;
          }
        }
      }

      p + p {
        margin-top: 20px;
      }

      &__paragraph {
        line-height: 1.4;
        font-weight: 500;
        letter-spacing: 0.6px;

        @media (min-width: 910px) {
          font-size: 16px;
        }
      }
    }

    &__img {
      @extend %img-settings;
    }
    &__solar-wrapper {
      @media (min-width: $screen-size--1) {
        grid-column-start: 1;
        grid-row-start: 1;
      }
    }
    &__solar-system {
      @extend %img-settings;
      object-fit: contain;
      padding: 30px;
      overflow: hidden;

      display: grid;
      grid: 1fr / 1fr;
      place-items: center;

      background-image: radial-gradient(
        circle at 50% 39%,
        #072142,
        #00132c 101%
      );

      /***********************Solsystem*******************/
      // Variabler
      $sun-size: 48px;
      $orb-earth-size: 130px;
      $orb-mars-size: 250px;
      $planet-earth-size: 30px;
      $planet-mars-size: $planet-earth-size;

      // mixin
      @mixin square-size($size) {
        height: $size;
        width: $size;
      }

      %center {
        grid-column: 1;
        grid-row: 1;
      }

      img {
        object-fit: cover;
      }

      .orb {
        @extend %center;
        border: 1px dashed grey;
        border-radius: 100%;
        animation: move-planet linear infinite;

        &.earth {
          @include square-size($orb-earth-size);
          animation-duration: 7s;
          @media (min-width: $screen-size--3) {
            @include square-size(150px);
          }
        }
        &.mars {
          @include square-size($orb-mars-size);
          animation-duration: 10s;
          @media (min-width: $screen-size--3) {
            @include square-size(300px);
          }
        }
      }

      &__sun {
        @include square-size($sun-size);
        @extend %center;
      }

      &__earth,
      &__mars {
        position: absolute;
        left: 50%;
        top: -15px;
      }
      &__earth {
        @include square-size($planet-earth-size);
        animation-duration: 7s;
      }
      &__mars {
        @include square-size($planet-mars-size);

        animation-duration: 7s;
      }

      // Animation
      @keyframes move-planet {
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
