.main-header {
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  background-position: center;
  background-size: cover;

  &::after {
    position: absolute;
    content: "";
    bottom: 26vh;
    left: -18vw;
    border-radius: 50%;
    border: 20px solid $color--complementary-2;
    width: 160vw;
    height: 122vw;
    min-height: 770px;
    border-inline-start-width: 10px;
    border-inline-end-width: 1px;
    /* width: 200vw;
    height: 65vh; */

    transform: rotate(4deg);
    background-image: linear-gradient(
      182deg,
      #00132c 61%,
      rgba(21, 52, 98, 0.9)
    );
  }

  /*  &::before {
    position: absolute;
    content: "";
    bottom: 24vh;
    left: -18vw;
    border-radius: 50%;
    width: 160vw;
    height: 122vw;
    min-height: 770px;
    border-inline-start-width: 10px;
    border-inline-end-width: 1px;
  

    transform: rotate(4deg);
    background: $color--complementary-2;
  } */

  &.homepage {
    background-image: linear-gradient(
        to bottom,
        rgba(193, 85, 85, 0.5),
        rgba(36, 2, 2, 0.7)
      ),
      url(../../images/page-1/hero-1.jpg);
  }
  &.faq {
    background-image: linear-gradient(
        to bottom,
        rgba(193, 85, 85, 0.5) 1%,
        rgba(36, 2, 2, 0.8)
      ),
      url(../../images/page-2/hero-2.jpg);
  }
  &.join-crew {
    background-image: linear-gradient(
        to bottom,
        rgba(36, 2, 2, 0.7) 1%,
        rgba(193, 85, 85, 0.5)
      ),
      url(../../images/page-3/hero-3.jpg);

    &::after {
      transition: all 0.5s;
      /*       transform: rotate(-165deg);
      bottom: -20vh; */
      transform: rotate(-190deg);
      bottom: unset;
      top: 40vh;
      left: -45vw;
      width: 165vw;
      border-inline-start-width: 1px;
      border-inline-end-width: 30px;
      @media (min-width: 550px) {
        transform: rotate(-155deg);
        top: 50vh;
      }
    }
  }

  /*  &__oval {
    position: absolute;
    bottom: 35vh;
    left: -40vw;
    border-radius: 50%;
    border: 10px solid $color--complementary-2;
    width: 200vw;
    height: 65vh;

    transform: rotate(12deg);
    background-image: linear-gradient(
      182deg,
      #00132c 61%,
      rgba(21, 52, 98, 0.9)
    );

    &.join-crew {
      transform: rotate(-165deg);
      bottom: -20vh;
    }
  } */
  &__text-wrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;

    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 48vh;

    @media (min-width: 700px) {
      margin-right: 16%;
      align-items: flex-end;
      height: 55vh;
      &.faq {
        margin-right: 10%;
      }
    }
    &.join-crew {
      height: 92vh;
      justify-content: flex-end;
      align-items: center;
      @media (min-width: 500px) {
        margin-left: 9%;
        justify-content: flex-end;
        align-items: flex-start;
      }
    }

    &__title {
      transition: all 1s;
      @include text-properties(2.5rem, 800, $color--main-1, 2.2px);
      display: inline-block;
      width: 70%;
      padding-bottom: 15px;
      margin: 0;
      border-bottom: 4px solid $color--main-1;

      @media (min-width: 500px) {
        width: 440px;
        font-size: 60px;
      }

      &.faq {
        @media (min-width: 500px) {
          width: 511px;
        }
      }
      &.join-crew {
        font-size: 2.5rem;
        @media (min-width: 550px) {
          width: 470px;
          font-size: 60px;
        }
      }
    }
    &__subheading {
      transition: all 1s;
      @include text-properties(1.8rem, 700, $color--complementary-2, 1.5px);
      width: 80%;
      padding-left: 5%;
      margin: 0;
      &.faq {
        @media (min-width: 500px) {
          width: 515px;
        }
      }

      @media (min-width: 500px) {
        width: 440px;
        font-size: 40px;
        padding-left: unset;
      }
      &.join-crew {
        margin-bottom: 30px;
        font-size: 1.8rem;
        @media (min-width: 550px) {
          width: 440px;
          font-size: 40px;
        }
      }
    }
  }
}

.navigation {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  background: $color--nav;
  padding: 5px 15px;

  @media (min-width: 550px) {
    padding: 15px 30px;
  }
  &__logo-wrapper {
    width: 58px;

    .logo {
      @extend %img-settings;
      object-fit: contain;
    }
  }
  &__link-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;

    margin: 8px 0;

    &__item {
      padding: 0 5px;
      margin: 3px 0 3px 8px;
      padding-top: 8px;
      font-size: 12px;
      @media (min-width: 550px) {
        margin: 0 0 0 30px;
        font-size: 16px;
        letter-spacing: 1px;
      }
      a {
        color: $color--main-1;
        font-weight: bold;
        text-decoration: none;
      }

      &--active {
        border-bottom: 3px solid $color--complementary-1;
        padding-bottom: 5px;
      }
    }
  }
}
