.intro-section {
  display: flex;
  flex-direction: column;
  flex: 1 1 320px;

  @media (min-width: 550px) {
    flex-direction: row-reverse;
  }

  /*   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
 */

  &__text-wrapper {
    background: $color--main-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 5% 7% 5%;
    min-width: 320px;

    width: 100%;
    @media (min-width: 550px) {
      padding: 25px 3% 25px 5%;
      flex-basis: 55%;
    }
    @media (min-width: 910px) {
      padding: 25px 7% 25px 9%;
    }
    &__title {
      @include text-properties(27px, 800, $color--complementary-1, 1.3px);

      @media (min-width: 550px) {
        margin: 0;
      }

      @media (min-width: 910px) {
        font-size: 36px;
        margin-bottom: 25px;
      }
    }
    &__paragraph {
      font-size: 16px;
      line-height: 1.4;
      letter-spacing: 0.7px;

      @media (min-width: 910px) {
        font-size: 18px;
      }

      & .text-enhancer {
        color: $color--complementary-1;
        font-weight: 700;
      }
    }
  }

  &__img-wrapper {
    min-width: 320px;
    max-width: 650px;
    @media (min-width: 550px) {
      flex-basis: 45%;
    }
  }
  &__img {
    @extend %img-settings;
  }
}
