* {
  box-sizing: border-box;
}
:root {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: $color--text;
}

body {
  padding: 0;
  margin: 0;
  background: $color--background-1;
}
main {
  max-width: 1440px;
  margin: 0 auto 0 auto;
  background: $color--background-1;
}
